* text=auto eol=lf
mediasoup-client/deps/webrtc/lib/libwebrtc.jar -filter -diff -merge binary
libwebrtc.a filter=lfs diff=lfs merge=lfs -text
*.so binary
*.jar binary
*.aar binary
*.a binary
*.png binary
